#gallery{
    text-align: center;

    .images{
        display: inline-block;
        width: 15%;
        margin: 10px;
        text-align: left;
        background: #EEEEEE;
        padding: 20px;
        border-radius: 3px;

        img{
            max-width: 100%;
        }
    }
}
