<div id="gallery" class="{{model.view}}" ng-controller="galleryCtrl">
    <div id="topbar">
        <button ng-click="model.view = 'list'">List</button>
        <button ng-click="model.view = 'smallgrid'">Small grid</button>
        <button ng-click="model.view = 'largegrid'">Large grid</button>
    </div>
    <div class="images" ng-repeat="image in model.images" ng-click="zoom(image)">
        <img ng-src="{{image.picture}}" alt=""/>
        <div class="details">Name: {{image.name}}</div>
        <div class="details">Age: {{image.age}}</div>
    </div>
</div>
